NEXT_PUBLIC_AUTH_COOKIE_NAME=topics_members_session
NEXT_PUBLIC_SUPABASE_URL=https://sdwfhqvchhntectukiju.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_7ub2qG8Snra7dWR9ZAbB6g_7dHjPL2w
